
<h2><i class="fa-solid fa-hand-holding-heart"></i>フォロワー一覧：<%= @customers.count %> 人</h2>
<% if @customers.exists? %>
  <%= render "customer/searches/customer", customers: @customers %>
<div class="col-lg-5 mx-auto" style="width: 265px;">
      <div class="pagination">
        <%= paginate @customers %>
      </div>
    </div>
<% else %>
  <p>ユーザーはいません</p>
<% end %>