
<h2><i class="fa-solid fa-hand-holding-heart" style="color: inherit;"></i>フォロー一覧：<%= @customers.count %> 人</h2>
<% if @customers.exists? %>
  <%= render "customer/searches/customer", customers: @customers %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>