@use '~bootstrap/scss/bootstrap';

//フラッシュメッセージデザインの記述
.flash-message {
  border-radius: 5px;
  padding: 10px 16px;
  margin: 16px 0px;
  width: 200px; /* 例として200pxに設定 */
  text-align: center; /* テキストを中央揃えにする */
}
//フラッシュメッセージの記述
.flash-message.notice {//成功の場合
  background-color: #66ffff; //軽い青緑系の色
  color: #0000ff; //あざやかな青紫系の色
  border: solid 1px #0000ff;
  font-family: 'Noto Serif JP';
}
//フラッシュメッセージの記述
.flash-message.alert {//失敗の場合
  background-color: #ff4500; //あざやかな赤系の色
  color: #ffe5cc; //とても淡い橙系の色
  border: solid 1px #ffe5cc;
  font-family: 'Noto Serif JP';
}

//会員・管理者側のページネーションのデザイン
.pagination {
  display: inline-block;
}
//会員・管理者側のページネーションのデザイン
.pagination a {
  color: #7f7fff;//軽い青紫系の色
  padding: 1px 16px;
  text-decoration: none;
  border: 1px solid #7f7fff; /* 軽い青紫系の色リンクにボーダーを追加 */
  margin: 2px; /* リンク間のマージンを追加 */
  border-radius: 3px; /* リンクを角丸にする */
  background-color: #e5ccff; /* とても淡い紫系の色リンクの背景色 */
}
//会員・管理者側のページネーションのデザイン
.pagination a:hover {
  background-color: #ffc1ff; /* 淡い紫系の色ホバー時の背景色 */
  margin-top: -20px; /* 上に20ピクセル移動 */
}
//マイページ・会員詳細の投稿画像と肉球アイコンの場所の記述
.image-container {
  position: relative;
  display: inline-block;/* 画像とアイコンを横並びにする */
  width: 230px; /* お好みのサイズに調整してください */
  text-align: center; /* 画像とアイコンを中央揃えにします */
  margin-left: 40px; /* 画像全体を右に移動 */
}//マイページ・会員詳細の投稿画像の中の肉球アイコンの場所の記述
.like-icon {
  position: absolute;
  top: 15%;/* 画像の中央に配置 */
}//マイページ・会員詳細の投稿画像の中の肉球アイコンの場所の記述
.row {
  display: flex;
  flex-wrap: wrap;
}//マイページ・会員詳細の投稿画像の中の肉球アイコンの場所の記述
.col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

/* いいねした画像の内側に名前を含む要素のスタイル */
.name {
  color: #ffffff; /* テキストの色を白に変更 */
  position: absolute; /* 画像内の絶対位置に配置 */
  bottom: 10px; /* 画像の下部に配置 */
  left: 10px; /* 画像の左端に配置 */
  padding: 5px; /* テキストの周りの余白 */
}

//ログアウトアイコンの記述
.fa-right-from-bracket {
  color: #b22222;//あざやかな赤系の色
}

//退会手続きアイコンの記述
.fa-user-slash {
  color: #fddea5;//蜂蜜色
}

//虫メガネアイコンの記述
.fa-magnifying-glass {
  color: #00ffff;//水色
}

/* ハートアイコンの色を全てサーモンピンクに設定 */
.fa-heart {
  color: #f3a68c;//サーモンピンク
}

.style {
  height: 50px;
  width: 100%;
  background-color: #a9a9a9;//ヘッダーの下あたりの（灰色）記述
  border-top: 5px solid;
}

//会員側topページの一部のテキストの記述
.test{
  color: red;
  font-family: 'Noto Serif JP';
}
//カラフルな肉球スタンプの背景の記述
body {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ200px */
  background-image: url("../images/back_image.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}
//一度リセットされる記述
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//黒の目次バーの長さを変える記述
  a {
  text-decoration: none;
  margin-right: 15px;
}

/* ギア１つアイコンの色を全て銀鼠に設定 */
.fa-gear {
  color: #a0a0a0;//銀鼠
}
//魚のアイコン
.fa-fish {
  color: #0073a8;//濃い青色
}
 /* 会員マイページの文字部分とボーダーラインの線 */
  body {
  margin: 0;
  padding: 0;
  color: #333333;//とても暗い無彩色
}

//黄色のヘッダーのあたりの記述
  .header {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: #6c3524;
  font-size: 50px;
}

//今日のお猫様の文字の記述
  .header strong {
  font-size: 60px; /* strong要素のフォントサイズ */
  display: block; /* strong要素をブロック要素として表示 */
  font-family: 'M PLUS Rounded 1c', sans-serif;//極太の丸ゴシック
  font-weight: 700;/* "ab-yurumin" フォントを優先し、代替フォントを指定 */
  font-style: normal;
  color: #6a1917; /* チョコレート色） */
  margin-top: 30px; /* 上方向に10pxのマージンを追加（必要に応じて調整） */
  }
//~猫好きさんのためのSNSサイト~文字の記述
.header h6 {
  font-size: 20px; /* h6要素のフォントサイズ */
  color: #6c3524; /* チョコレート色） */
  font-family: 'Noto Serif JP';
  margin-top: 50px; /* 上方向に10pxのマージンを追加（必要に応じて調整） */
  }
/* 肉球アイコンの色を全てチェリーピンクに設定 */
.fa-paw {
  color: #eb6ea0;//チェリーピンクに変化
}

  .ul {//まだ何も定義していない
  background-color: #000000;
}

  .img_tag {//まだ何も定義していない
  width: 100%;
  }
//上の写真やらタイトルやら場所を整える記述
 .navbar-brand {
  float: left; /* 画像を左に浮動配置 */
  /* 他の要素との間隔を設定（必要に応じて調整） */
}

  //目次のリンクボタンの文字の記述//ヘッダー
  .nav-list-item {
  list-style: none;
  /* 横に並べる */
  display: inline-block;
  margin: 0 20px;
  font-family: 'Noto Serif JP';
  }

  //目次のリンクボタンの文字の記述//ヘッダー
  .green-text {
    color: #dbebc4;//アスパラガスグリーン
    font-family: 'Noto Serif JP';
  }

  //目次のリンクボタンの文字の記述//フッター
  .nav-list-items {
  list-style: none;
  /* 横に並べる */
  display: inline-block;
  margin: 0 20px;
  font-family: 'Noto Serif JP';
  }

  //目次のリンクボタンの文字の記述//フッター
  .green1-text {
    color: #dbebc4;//アスパラガスグリーン
    font-family: 'Noto Serif JP';
  }

  //topページの猫３匹の画像に文字を入れた記述①
.full-page {
  .top-image {
    p {
      padding-top: 500px;
      //深い青紫系の色
      color: #6495ed;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Noto Serif JP';
    }
    height: 900px;
    //background-image: image-url("top2.jpg");
    background-image: url("../images/top2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
//topページの猫３匹の画像に文字を入れた記述②
  .main {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ200px */
  background-image: url("../images/top2.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  }

//フォロワーアイコンに色をつける記述
.fa-hand-holding-heart {//鈍い紫系の色
  color : #da70d6;
}

//カメラアイコンに色をつける記述
.fa-camera-retro {//柔らかい青紫系の色
  color : #6495ed;
}

//ペン１アイコンに色をつける記述
.fa-pencil {//鈍い青系の色
  color : #5f9ea0;
}

//手紙アイコンに色をつける記述
.fa-envelope {//明るい灰みの青緑系の色
  color : #afeeee;
}

//星アイコンに色をつける記述
.fa-star {//あざやかな黄緑系の色
  color : #adff2f;
}

//ユーザー多数アイコンに色をつける記述
.fa-users {//柔らかい紫系の色
  color : #2f4f4f;
}

//ボタンアイコンに色をつける記述
.fa-circle-xmark {//柔らかい紫系の色
  color : #9370db;
}

//太陽アイコンに色をつける記述
.fa-sun {//オレンジ
  color : #ee7800;
}

//葉アイコンに色をつける記述
.fa-leaf {//あざやかな緑系の色
  color : #008000;
}

//会員側のtopページテキストの記述
.title {
color: #ff0000;//赤色
font-family: 'Noto Serif JP';
}

//丸アイコンに色をつける記述
.fa-circle {//深い青紫系の色
  color : #4682b4;
}

//歯車２個アイコンに色をつける記述
.fa-gears {//明るい灰みの青紫系の色
  color : #b0c4de;
}

//鉛筆アイコンに色をつける記述
.fa-pen {//暗い黄緑系の色
  color : #556b2f;
}

/* 雪のアイコンの色を全て明るい灰みの青系の色 */
.fa-star-of-life {
  color: #a2d7dd;//明るい灰みの青系の色に変化
}

//鍵アイコンに色をつける記述
.fa-key {//とても暗い無彩色
  color : #404040;
}

//ペンアイコンに色をつける記述
.fa-pen-nib {//明るい灰みの青紫系の色
  color : #b0c4de;
}

/* 羽の色を全て淡い青紫に設定 */
.fa-feather {
  color: #a3d1ff;//淡い青紫系の色
}
/* 六角星の色を全て黄金に設定 */
.fa-star-of-david {
  color: #d7c447;//黄金の色
}

/* 矢印アイコンの色を赤色に設定 */
.fa-left-long {
  color: #ff0000;//赤色に変化
}

//フッターの記述
.footer {
  width: 100%;
  text-align: center;
  font-family: 'Noto Serif JP';
}
//フッターのアルファベットのテキストの記述
.footer-text {
  color: #6c3524; /* チョコレート色） */
}

//レスポンシブ対応記述を追加する
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

//フラッシュメッセージデザインの記述
.flash-message {
  border-radius: 5px;
  padding: 10px 16px;
  margin: 16px 0px auto;
   width: 200%; /* 例として200pxに設定 */
  text-align: center; /* テキストを中央揃えにする */
}
//フラッシュメッセージの記述
.flash-message.notice {//成功の場合
  background-color: #66ffff; //軽い青緑系の色
  color: #0000ff; //あざやかな青紫系の色
  border: solid 1px #0000ff;
  font-family: 'Noto Serif JP';
}
//フラッシュメッセージの記述
.flash-message.alert {//失敗の場合
  background-color: #ff4500; //あざやかな赤系の色
  color: #ffe5cc; //とても淡い橙系の色
  border: solid 1px #ffe5cc;
  font-family: 'Noto Serif JP';
}

//会員・管理者側のページネーションのデザイン
.pagination {
  display: inline-block;
}
//会員・管理者側のページネーションのデザイン
.pagination a {
  color: #7f7fff;//軽い青紫系の色
  padding: 1px 16px;
  text-decoration: none;
  border: 1px solid #7f7fff; /* 軽い青紫系の色リンクにボーダーを追加 */
  margin: 2px auto; /* リンク間のマージンを追加 */
  border-radius: 3px; /* リンクを角丸にする */
  background-color: #e5ccff; /* とても淡い紫系の色リンクの背景色 */
}
//会員・管理者側のページネーションのデザイン
.pagination a:hover {
  background-color: #ffc1ff; /* 淡い紫系の色ホバー時の背景色 */
  margin-top: -20px auto; /* 上に20ピクセル移動 */
}

  //マイページの投稿画像と肉球アイコンの場所の記述
.image-container {
  position: relative;
  display: inline-block;/* 画像とアイコンを横並びにする */
  width: 230px; /* お好みのサイズに調整してください */
  text-align: center; /* 画像とアイコンを中央揃えにします */
  margin-left: 40px; /* 画像全体を右に移動 */
}//マイページの投稿画像の中の肉球アイコンの場所の記述
.like-icon {
  position: absolute;
  top: 15%;/* 画像の中央に配置 */
}//マイページの投稿画像の中の肉球アイコンの場所の記述
.row {
  display: flex;
  flex-wrap: wrap;
}//マイページの投稿画像の中の肉球アイコンの場所の記述
.col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

/* いいねした画像の内側に名前を含む要素のスタイル */
.name {
  color: #ffffff; /* テキストの色を白に変更 */
  position: absolute; /* 画像内の絶対位置に配置 */
  bottom: 10px; /* 画像の下部に配置 */
  left: 10px; /* 画像の左端に配置 */
  padding: 5px; /* テキストの周りの余白 */
}

//ログアウトアイコンの記述
.fa-right-from-bracket {
  color: #b22222;//あざやかな赤系の色
}

//退会手続きアイコンの記述
.fa-user-slash {
  color: #fddea5;//蜂蜜色
}

//虫メガネアイコンの記述
.fa-magnifying-glass {
  color: #00ffff;//水色
}

/* ハートアイコンの色を全てサーモンピンクに設定 */
.fa-heart {
  color: #f3a68c;//サーモンピンク
}

.style {
  height: 50px;
  width: 100%;
  background-color: #a9a9a9;//ヘッダーの下あたりの（灰色）記述
  border-top: 5px solid;
}

//会員側topページの一部のテキストの記述
.test{
    color: red;
    font-family: 'Noto Serif JP';
  }
//カラフルな肉球スタンプの背景の記述
body {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ200px */
  background-image: url("../images/back_image.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

  * {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
  //黒の目次バーの長さを変える記述
  a {
  text-decoration: none;
  margin-right: 15px auto;
}

  /* ギア１つアイコンの色を全て銀鼠に設定 */
.fa-gear {
  color: #a0a0a0;//銀鼠
}
//魚のアイコン
.fa-fish {
  color: #0073a8;
}
/* 会員マイページの文字部分とボーダーラインの線 */
  body {
  margin: 0 auto;
  padding: 0;
  color: #333333;//とても暗い無彩色
  font-family: 'Noto Serif JP';
  }

//黄色のヘッダーのあたりの記述
  .header {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: #6c3524;
  font-size: 50px;
}

//今日のお猫様の文字の記述
  .header strong {
  font-size: 60px; /* strong要素のフォントサイズ */
  display: block; /* strong要素をブロック要素として表示 */
  font-family: 'M PLUS Rounded 1c', sans-serif;//極太の丸ゴシック
  font-weight: 700;/* "ab-yurumin" フォントを優先し、代替フォントを指定 */
  font-style: normal;
  color: #6a1917; /* チョコレート色） */
  margin-top: 30px auto; /* 上方向に10pxのマージンを追加（必要に応じて調整） */
  }
//~猫好きさんのためのSNSサイト~文字の記述
.header h6 {
  font-size: 20px; /* h6要素のフォントサイズ */
  color: #6c3524; /* チョコレート色） */
  font-family: 'Noto Serif JP';
  margin-top: 50px; /* 上方向に10pxのマージンを追加（必要に応じて調整） */
  }
/* 肉球アイコンの色を全てチェリーピンクに設定 */
.fa-paw {
  color: #eb6ea0;//チェリーピンクに変化
}

  .ul {//まだ何も定義していない
  background-color: #000000;
}

  .img_tag {//まだ何も定義していない
  width: 100%;
  }
//上の写真やらタイトルやら場所を整える記述
 .navbar-brand {
  float: left; /* 画像を左に浮動配置 */
  /* 他の要素との間隔を設定（必要に応じて調整） */
}

  //目次のリンクボタンの文字の記述//ヘッダー
  .nav-list-item {
  list-style: none;
  /* 横に並べる */
  display: inline-block;
  margin: 0 20px auto;
  font-family: 'Noto Serif JP';
  }

//目次のリンクボタンの文字の記述//ヘッダー
  .green-text {
    color: #dbebc4;//アスパラガスグリーン
    font-family: 'Noto Serif JP';
  }

//目次のリンクボタンの文字の記述//フッター
  .nav-list-items {
  list-style: none;
  /* 横に並べる */
  display: inline-block;
  margin: 0 20px auto;
  font-family: 'Noto Serif JP';
  }

//目次のリンクボタンの文字の記述//フッター
  .green1-text {
    color: #dbebc4;//アスパラガスグリーン
    font-family: 'Noto Serif JP';
  }

//topページの猫３匹の画像に文字を入れた記述①
.full-page {
  .top-image {
    p {
      padding-top: 500px;
      //深い青紫系の色
      color: #6495ed;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Noto Serif JP';
    }
    height: 900px;
    background-image: url("../images/top2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
  //topページの猫３匹の画像に文字を入れた記述②
  .main {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ200px */
  background-image: url("../images/top2.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  }

//フォロワーアイコンに色をつける記述
.fa-hand-holding-heart {//鈍い紫系の色
  color : #da70d6;
}

//カメラアイコンに色をつける記述
.fa-camera-retro {//柔らかい青紫系の色
  color : #6495ed;
}

//ペン１アイコンに色をつける記述
.fa-pencil {//鈍い青系の色
  color : #5f9ea0;
}

//手紙アイコンに色をつける記述
.fa-envelope {//明るい灰みの青緑系の色
  color : #afeeee;
}

//星アイコンに色をつける記述
.fa-star {//あざやかな黄緑系の色
  color : #adff2f;
}

//ユーザー多数アイコンに色をつける記述
.fa-users {//柔らかい紫系の色
  color : #2f4f4f;
}

//ボタンアイコンに色をつける記述
.fa-circle-xmark {//柔らかい紫系の色
  color : #9370db;
}

//太陽アイコンに色をつける記述
.fa-sun {//オレンジ
  color : #ee7800;
}

//葉アイコンに色をつける記述
.fa-leaf {//あざやかな緑系の色
  color : #008000;
}

//鍵アイコンに色をつける記述
.fa-key {//とても暗い無彩色
  color : #404040;
}

//ペンアイコンに色をつける記述
.fa-pen-nib {//明るい灰みの青紫系の色
  color : #b0c4de;
}

//会員側のtopページテキストの記述
.title {
color: #ff0000;//赤色
font-family: 'Noto Serif JP';
}

//丸アイコンに色をつける記述
.fa-circle {//深い青紫系の色
  color : #4682b4;
}

//歯車２個アイコンに色をつける記述
.fa-gears {//明るい灰みの青紫系の色
  color : #b0c4de;
}

//鉛筆アイコンに色をつける記述
.fa-pen {//暗い黄緑系の色
  color : #556b2f;
}

/* 雪のアイコンの色を全て明るい灰みの青系の色 */
.fa-star-of-life {
  color: #a2d7dd;//明るい灰みの青系の色に変化
}

/* 羽の色を全て淡い青紫に設定 */
.fa-feather {
  color: #a3d1ff;//淡い青紫系の色
}
/* 六角星の色を全て黄金に設定 */
.fa-star-of-david {
  color: #d7c447;//黄金の色
}

/* 矢印アイコンの色を赤色に設定 */
.fa-left-long {
  color: #ff0000;//赤色に変化
}

//フッターの記述
.footer {
  width: 100%;
  text-align: center;
  font-family: 'Noto Serif JP';
}
//フッターのアルファベットのテキストの記述
.footer-text {
  color: #6c3524; /* チョコレート色） */
}

}