
<!-- topページの画像-->
    <div class="full-page">
      <div class="top-image">
        <p class="text-center">
          ようこそ<i class="fa-solid fa-paw"></i>今日のお猫様へ！！<br />
          ※投稿、写真の閲覧、検索は、会員登録が必要です。<br />
        </p>
      </div>

<h2><i class="fa-solid fa-paw"></i>サイト紹介<i class="fa-solid fa-paw"></i></h2><br>
  <h3>今日のお猫様とは？</h3>
    <h3><%= image_tag('top3.jpg') %><h3>
<p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
</p>