

<h2>〜サイト今日のお猫様の紹介〜</h2><br>
  <h3><%= image_tag('top3.jpg') %></h3>
<p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
</p>