
<h1>ようこそ、今日のお猫様へ！！</h1><br>
<h1><%= image_tag('top2.jpg') %></h1>
<p>※会員でない方も写真の閲覧可能です。</p><br>
<p>投稿には、会員登録が必要です。</p><br>
<h2>〜サイト今日のお猫様の紹介〜</h2><br>
  <h3><%= image_tag('top3.jpg') %></h3>
<p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
</p>