

<h2><i class="fa-solid fa-paw"></i>サイト紹介<i class="fa-solid fa-paw"></i></h2><br>
  <h3>今日のお猫様とは？</h3>
    <h3><%= image_tag('top3.jpg') %><h3>
<p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
  texttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>
</p>