<%#会員側と管理者側で使用するフラッシュメッセージの記述%>
<%= render "layouts/flash" %>

  <!-- topページの画像-->
  <div class="full-page">
    <div class="top-image">

      <p class="text-center">
        ようこそ<i class="fa-solid fa-paw"></i>今日のお猫様へ！！<br />
        ※投稿、写真の閲覧、検索は、会員登録が必要です。<br />
      </p>
    </div>

    <h1 style="margin-left: 470px;"><i class="fa-solid fa-paw"></i>サイト紹介<i class="fa-solid fa-paw"></i></h1><br>
      <div class='col-md-8 offset-md-1'>
        <table class="table table-hover table-inverse">
          <thead>
            <th><h1><%= image_tag 'top3.jpg', :size => "950x550" %></h1></th>
            <tr><h3 style="margin-left: 70px" class="title">今日のお猫様とは？</h3></tr>
              <td>
                このSNS写真投稿サイト「今日のお猫様」は、猫好きな方々が自分の愛猫や可愛く撮れた猫ちゃんの写真を気軽に投稿し、他のユーザーと交流したり、
                写真にいいねやコメントを共有する場所です。猫達の日常のかわいらしい瞬間、面白いエピソード、そして美しい写真を共有して、猫好きな仲間と
                一緒に楽しむことができます。私達の日常に猫が持つ魅力を共有し、ポジティブな影響を提供したいという願望からこのサイトが製作されました。
                「今日のお猫様」は、猫好きな皆さんのためのSNS写真投稿サイトであり猫たちの魅力を共有する場所として、皆さんの参加をお待ちしております。
                一緒に猫たちの素晴らしい瞬間を記録して猫愛を広めましょう！
              </td>
          </thead>
        </table>

        <table class="table table-hover table-inverse">
          <thead>
            <th><h1><%= image_tag 'home.jpg', :size => "950x550" %></h1></th>
              <tr><h3 style="margin-left: 70px;" class="test">どんな機能があるの？</h3></tr>
                <td>
                  「今日のお猫様」は、様々な機能が充実しており、猫好きなユーザーにとって魅力的な体験を提供しています。登録した会員は、投稿機能を利用して、
                  自分の愛猫の写真やエピソードを簡単に共有できます。さらに、他のユーザーが投稿した猫の写真に対して、いいねやコメントを残すことができ、猫
                  好き仲間と交流を楽しむことができます。フォロー機能は、お気に入りのユーザーをフォローし、その最新の猫の冒険やかわいらしい瞬間を追跡する
                  のに役立ちます。ユーザー・キーワード検索機能を使えば特定のキーワードに関連する投稿を素早く見つけることができます。また、ダイレクトメ
                  ッセージ（DM）機能を通じて他のユーザーとプライベートなコミュニケーションを取ることが可能です。これらの機能を駆使して、「今日のお猫様」
                  のSNS写真投稿サイトで猫の魅力を共有し、新しい友達や仲間を見つけましょう。猫のかわいらしさや癒しの力を共有することで日常のストレスから
                  逃れる場所として「今日のお猫様」を楽しんで下さい。
                </td>
          </thead>
        </table>