/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* レイアウトcssの記述 */

  /* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  a {
  text-decoration: none;
}

  body {
    /* 桜色 */
  margin: 0;
  padding: 0;
  background-color: #fef4f4;
}

  header {
  width: 90%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-image: image-url("kyounekosama.jpg");
  /* 柔らかい黄系の色 */
   /* color: #f0e68c; */
}

  .container {
  position: relative;
  }

  .navbar-brand p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

  .img_tag {
  width: 100%;
  }

  .nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

  /* 修正する */
  .full-page {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.3);
}

  .main {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ200px */
  background-image: image-url("top2.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  /* 柔らかい黄系の色 */
   /*color: #f0e68c;*/
}
