<!-- 会員と管理者側で使用するフラッシュメッセージの記述 -->

<!-- フラッシュメッセージ成功の記述 -->
<% if flash[:notice] %>
  <div class="flash-message notice">
    <p id="notice">
      <%= notice %>
    </p>
  </div>
<% end %>

<!-- フラッシュメッセージ失敗の記述 -->
<% if flash[:alert] %>
  <div class="flash-message alert">
    <p id="aleart">
      <%= alert %>
    </p>
  </div>
<% end %>